.fit {
	position: relative;
	width: 512px;
	height: 512px;
	margin-left: auto;
	margin-right: auto;
}

.fit .bg {
	position: absolute;
	top: 65px;
	left: 65px;
	z-index: 1;
	width: 382px;
	height: 382px;
	overflows: hidden;
}

.fit .bg img {
	width: 382px;
	height: 382px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

.fit .wheel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: url("images/fits/wheel.png");
	background-size: 512px 512px;
	width: 512px;
	height: 512px;
}

.fit .slots {
	z-index: 3
}

/* High slots */
.slots.highs8, .slots.highs7, .slots.highs6, .slots.highs5, .slots.highs4, .slots.highs3, .slots.highs2, .slots.highs1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 408px;
	height: 113px;
}

.slots.highs8 {
	background: url("images/fits/highs_8.png");
}

.slots.highs7 {
	background: url("images/fits/highs_7.png");
}

.slots.highs6 {
	background: url("images/fits/highs_6.png");
}

.slots.highs5 {
	background: url("images/fits/highs_5.png");
}

.slots.highs4 {
	background: url("images/fits/highs_4.png");
}

.slots.highs3 {
	background: url("images/fits/highs_3.png");
}

.slots.highs2 {
	background: url("images/fits/highs_2.png");
}

.slots.highs1 {
	background: url("images/fits/highs_1.png");
}

/* Med slots */
.slots.meds8, .slots.meds7, .slots.meds6, .slots.meds5, .slots.meds4, .slots.meds3, .slots.meds2, .slots.meds1 {
	position: absolute;
	right: 0;
	top: 0;
	height: 410px;
	width: 113px;
}

.slots.meds8 {
	background: url("images/fits/meds_8.png");
}

.slots.meds7 {
	background: url("images/fits/meds_7.png");
}

.slots.meds6 {
	background: url("images/fits/meds_6.png");
}

.slots.meds5 {
	background: url("images/fits/meds_5.png");
}

.slots.meds4 {
	background: url("images/fits/meds_4.png");
}

.slots.meds3 {
	background: url("images/fits/meds_3.png");
}

.slots.meds2 {
	background: url("images/fits/meds_2.png");
}

.slots.meds1 {
	background: url("images/fits/meds_1.png");
}

/* Low slots */
.slots.lows8, .slots.lows7, .slots.lows6, .slots.lows5, .slots.lows4, .slots.lows3, .slots.lows2, .slots.lows1 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 409px;
	height: 113px;
}

.slots.lows8 {
	background: url("images/fits/lows_8.png");
}

.slots.lows7 {
	background: url("images/fits/lows_7.png");
}

.slots.lows6 {
	background: url("images/fits/lows_6.png");
}

.slots.lows5 {
	background: url("images/fits/lows_5.png");
}

.slots.lows4 {
	background: url("images/fits/lows_4.png");
}

.slots.lows3 {
	background: url("images/fits/lows_3.png");
}

.slots.lows2 {
	background: url("images/fits/lows_2.png");
}

.slots.lows1 {
	background: url("images/fits/lows_1.png");
}

/* Rig slots */
.slots.rigs3, .slots.rigs2, .slots.rigs1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 117px;
	height: 217px;
}

.slots.rigs3 {
	background: url("images/fits/rigs_3.png");
}

.slots.rigs2 {
	background: url("images/fits/rigs_2.png");
}

.slots.rigs1 {
	background: url("images/fits/rigs_1.png");
}

/* Sub slots */
.slots.subs5 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 112px;
	height: 295px;
}

.slots.subs5 {
	background: url("images/fits/subs_5.png");
}

/* Missile slots */
.slots.missiles8, .slots.missiles7, .slots.missiles6, .slots.missiles5, .slots.missiles4, .slots.missiles3, .slots.missiles2, .slots.missiles1 {
	position: absolute;
	top: 3px;
	right: 0;
	width: 196px;
	height: 72px;
}

.slots.missiles8 {
	background: url("images/fits/missiles_8.png");
}

.slots.missiles7 {
	background: url("images/fits/missiles_7.png");
}

.slots.missiles6 {
	background: url("images/fits/missiles_6.png");
}

.slots.missiles5 {
	background: url("images/fits/missiles_5.png");
}

.slots.missiles4 {
	background: url("images/fits/missiles_4.png");
}

.slots.missiles3 {
	background: url("images/fits/missiles_3.png");
}

.slots.missiles2 {
	background: url("images/fits/missiles_2.png");
}

.slots.missiles1 {
	background: url("images/fits/missiles_1.png");
}

/* Turret slots */
.slots.turrets8, .slots.turrets7, .slots.turrets6, .slots.turrets5, .slots.turrets4, .slots.turrets3, .slots.turrets2, .slots.turrets1 {
	position: absolute;
	top: 4px;
	left: 0;
	width: 194px;
	height: 71px;
}

.slots.turrets8 {
	background: url("images/fits/turrets_8.png");
}

.slots.turrets7 {
	background: url("images/fits/turrets_7.png");
}

.slots.turrets6 {
	background: url("images/fits/turrets_6.png");
}

.slots.turrets5 {
	background: url("images/fits/turrets_5.png");
}

.slots.turrets4 {
	background: url("images/fits/turrets_4.png");
}

.slots.turrets3 {
	background: url("images/fits/turrets_3.png");
}

.slots.turrets2 {
	background: url("images/fits/turrets_2.png");
}

.slots.turrets1 {
	background: url("images/fits/turrets_1.png");
}

