#search {
	margin: 0 5px;
	position: relative;
}

#market-tree {
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 25px;
	left: 0;
	right: 0;
	margin: 5px;
	overflow: auto;
	border: 1px solid #2e2f32;
}

.market-group {
}

.market-group-name {
	height: 13px;
	padding: 3px 0;
	color: #c4c4c4;
	border-top: 1px solid #2e2f32;
	border-bottom: 1px solid #4f5050;
}

.market-group-name.expandable {
	background: #141517;
}

.market-group-name.empty {
	background: #141517;
}

.market-group-name.selected {
	background: #212121;
}

.market-group-name .toggle {
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.market-group-name.empty .toggle {
	visibility: hidden;
}

.market-group-name .toggle.expand {
	background: url("images/38_16_107.png");
}
.market-group-name .toggle.collapse {
	background: url("images/38_16_104.png");
