<div class="fittingWheel">
  <div class="bg">
    <img src="http://image.eveonline.com/Render/{{ fit.shipID.pk }}_512.png" alt="{{ fit.shipID.typeName }}" title="{{ fit.shipID.typeName }}">
  </div>

  <div class="wheel"></div>
  <div class="highs h{{ rfit.slots.highSlots }}" data-size="{{ rfit.slots.highSlots }}"></div>
  <div class="meds m{{ rfit.slots.medSlots }}" data-size="{{ rfit.slots.medSlots }}"></div>
  <div class="lows l{{ rfit.slots.lowSlots }}" data-size="{{ rfit.slots.lowSlots }}"></div>
  <div class="rigs r{{ rfit.slots.rigSlots }}" data-size="{{ rfit.slots.rigSlots }}"></div>
  <div class="subs s{{ rfit.slots.subSlots }}" data-size="{{ rfit.slots.subSlots }}"></div>

  <div class="turrets th{{ rfit.slots.turretSlots }}" data-size="{{ rfit.slots.turretSlots }}" data-start-angle="231.1" data-end-angle="254.6"></div>
  <div class="missiles mh{{ rfit.slots.missileSlots }}" data-size="{{ rfit.slots.missileSlots }}" data-start-angle="308.8" data-end-angle="285.6"></div>

  <div class="cpu" data-size="100" data-start-angle="45" data-end-angle="0"></div>
  <div class="pg" data-size="100" data-start-angle="45" data-end-angle="90"></div>
  <div class="calibration" data-size="400" data-start-angle="220.8" data-end-angle="193.2"></div>
</div>
