<div class="fit">
  <div class="bg">
    <img src="http://image.eveonline.com/Render/{{ fit.shipID.pk }}_512.png" alt="{{ fit.shipID.typeName }}" title="{{ fit.shipID.typeName }}">
  </div>

  <div class="wheel"></div>
  <div class="slots hs highs{{ rfit.slots.highSlots }}" data-size="{{ rfit.slots.highSlots }}"></div>
  <div class="slots ms meds{{ rfit.slots.medSlots }}" data-size="{{ rfit.slots.medSlots }}"></div>
  <div class="slots ls lows{{ rfit.slots.lowSlots }}" data-size="{{ rfit.slots.lowSlots }}"></div>
  <div class="slots rs rigs{{ rfit.slots.rigSlots }}" data-size="{{ rfit.slots.rigSlots }}"></div>
  <div class="slots ss subs{{ rfit.slots.subSlots }}" data-size="{{ rfit.slots.subSlots }}"></div>
  <div class="slots mss missiles{{ rfit.slots.missileSlots }}" data-size="{{ rfit.slots.missileSlots }}"></div>
  <div class="slots tss turrets{{ rfit.slots.turretSlots }}" data-size="{{ rfit.slots.turretSlots }}"></div>
</div>
