<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    {% load staticfiles %}
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/left-sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/tabs.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/left-sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/stats-widget.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/market.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/themes/default/items.css" %}">
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-ui-1.10.1.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/layout.js" %}"></script>
    <script type="text/javascript" src="{% static "js/market-tree.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tabs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stats-widget.js" %}"></script>
    {% endcompress %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        Header
      </div>

      <div id="content" class="eve-box">
        Center
      </div>

      <div id="left-sidebar" class="eve-box">
        {% include "left_sidebar.html" %}
      </div>
      <div id="right-sidebar" class="eve-box">
        {% include "right_sidebar.html" %}
      </div>

      <div id="footer">
        Footer
      </div>
    </div>
  </body>
</html>
