<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/left-sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/stats-widget.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.1.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/layout.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stats-widget.js" %}"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        Header
      </div>

      <div id="content">
        Center
      </div>

      <div id="left-sidebar">
        {% include "left_sidebar.html" %}
      </div>
      <div id="right-sidebar">
        {% include "right_sidebar.html" %}
      </div>

      <div id="footer">
        Footer
      </div>
    </div>
  </body>
</html>
