<div class="tabs">
  <ul id="market-tabs" data-id="market-tree">
    <li id="tab-items" data-id="market-items">Items</li>
    <li id="tab-ships" class="current-tab" data-id="market-ships">Ships</li>
  </ul>
</div>

<div id="search">
  <input id="search-items" type="text" value="Search term"/>
  <div class="loading" style="display: none">&nbsp;</div>
</div>

<div id="market-tree">
  <div id="market-items" class="tab-content" style="display:none">
    {% include "market_items.html" with marketGroups=marketGroupsItems %}
  </div>
  <div id="market-ships" class="tab-content">
    {% include "market_items.html" with marketGroups=marketGroupsShips %}
  </div>
</div>

