{% for group in marketGroups %}
  {% if group.0 == 1 %}
    <div class="market-group" {% if group.1 > 0 and group.2 not in expandedGroups %}style="display: none"{% endif %}>
  {% elif group.0 == -1 %}
    </div>
  {% elif group.0 == 0 %}
    <div id="mg{{ group.2.marketGroupID }}" class="market-group-name {% if group.3 == False %}empty{% else %}expandable{% endif %}" style="padding-left: {% widthratio group.1 1 15 %}px">
      <div class="toggle {% if group.2.marketGroupID in expandedGroups %}collapse{% else %}expand{% endif %}">&nbsp;</div>
      <h1>{{ group.2.marketGroupName }}</h1>
    </div>
  {% elif group.0 == 2 %}
    <div id="mg{{ group.2.typeID }}" class="market-group-name empty" style="padding-left: {% widthratio group.1 1 15 %}px">
      <div class="toggle">&nbsp;</div>
      <h1>{{ group.2.typeName }}</h1>
    </div>
  {% endif %}
{% empty %}
  No items
{% endfor %}

