/* Left sidebar */
#left-sidebar-top {
	height: 50%;
	overflow: hidden;
	position: relative;
}

#left-sidebar-bottom {
	height: 50%;
	overflow: hidden ;
	position: relative;
	text-align: center;
}

#resize-handle {
	position: absolute;
	height: 5px;
	width: 100%;
}

