/* Left sidebar CSS */
#resize-handle {
	background: url("images/resize.png") no-repeat 50% 50%;
	cursor: row-resize;
	height: 8px !important;
}

#containment {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}
