/* Tabs CSS */
.tabs {
	margin-top: 5px;
	border-bottom: 1px solid #2e2f32;
	height: 19px;
	padding: 0 5px;
	position: relative;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}

.tabs li {
	float: left;
	margin-right: 5px;
	height: 14px;
	min-width: 50px;
	border: 1px solid #2e2f32;
	border-bottom: none;
	padding: 2px 5px;
	text-align: center;
	z-index: 99;
}

.tabs .title {
	float: left;
}

.tabs .close {
	float: right;
	background: url("images/73_16_49.png");
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.current-tab {
	border-bottom: 1px solid #000 !important;
	box-shadow: inset 0 6px 6px -6px #fff;
	-webit-box-shadow: inset 0 6px 6px -6px #fff;
	-moz-box-shadow: inset 0 6px 6px -6px #fff;
}

